<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="inputService" class="service.impl.InputServiceImpl">
        <constructor-arg name="pathToFile" value="Homework1/src/main/resources/questions.csv"/>
    </bean>

    <bean id="outputService" class="service.impl.OutputServiceImpl">
    </bean>

    <bean id="testService" class="service.impl.TestServiceImpl">
        <constructor-arg name="inputService" ref="inputService"/>
        <constructor-arg name="outputService" ref="outputService"/>
    </bean>

</beans>